/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://giffiles.alphacoders.com/105/105320.gif'); /* Dein GIF */
    background-size: cover; /* Hintergrund füllt die gesamte Fläche */
    background-position: center center; /* Hintergrund bleibt zentriert */
    background-attachment: fixed; /* Hintergrund bleibt beim Scrollen fixiert */
    height: 100vh; /* Höhe des Viewports */
    color: white;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7); /* Transparenter Hintergrund für Header */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    max-width: 100%;
}

.welcome-text {
    text-align: center;
    margin: 2rem 0;
    color: white;
}

.welcome-text h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.welcome-text p {
    font-size: 1.5rem;
    color: #bbb;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 5rem 0; /* Genügend Platz zwischen den Sektionen */
    max-width: 1200px;
    margin: 0 auto; /* Zentriert den Inhalt */
}

#download {
    margin-top: 10rem; /* Abstand von oben */
}

.cta-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ff7a00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.cta-btn:hover {
    background-color: #e67e22;
}

/* Team Section */
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.team-category {
    width: 85%; /* Breiterer Container für Team-Bilder */
    background-color: rgba(34, 34, 34, 0.8); /* Halbdurchsichtiger Hintergrund */
    padding: 1.5rem; /* Mehr Abstand */
    border-radius: 10px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* Bilder in mehreren Reihen anzeigen */
}

/* Anpassung der Bildgröße und Hover-Effekt */
.team-members .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Breitere Container für Teammitglieder */
    height: 300px; /* Höhere Container */
    text-align: center;
    padding: 1rem;
    overflow: hidden; /* Verhindert das Überlaufen von Bildern */
}

.team-members img {
    width: 100%; /* Maximale Breite der Bilder */
    height: auto; /* Höhe wird automatisch skaliert */
    object-fit: contain; /* Skaliert das Bild ohne Verzerrung */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Weicher Übergang beim Hover */
}

.team-members img:hover {
    transform: scale(1.05); /* Vergrößern des Bildes beim Hover */
}

.team-members p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #ddd; /* Helle Farbe für den Text */
}

/* Footer */
footer {
    background-color: rgba(17, 17, 17, 0.9);
    padding: 1rem;
    color: white;
}

/* MelonHD Section */
#melonhd {
    align-self: start;
    position: var(--melon-position);
    top: calc(var(--header-height) + 1em);
    text-align: center;
}

#melonhd > h1 {
    margin: 0;
    padding-bottom: 1em;
}

#melonhd > img {
    max-width: calc(100% - 2em);
    max-height: 50vh;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#melonhd > img:hover {
    transform: scale(1.05);
}

#melonhd > button {
    margin-top: 1em;
    padding: .5em;
    background: none;
    border: var(--color-main) solid 2px;
    border-radius: 16px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-family: var(--font-main);
}

#melonhd > button:hover {
    background-color: var(--color-contrast);
    color: var(--color-main);
}

#melonhd > p {
    margin: 1em 0 0;
}
